body {
  background-image: url("images/cavebg.jpg");
  background-size: cover;
  background-color: #332e2b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftcol {
  flex: 1;
}

@keyframes throb {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
.gamelogo {
  animation: throb 5s ease 0s infinite normal forwards;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bigDragon {
  width: 35%;
  height: 35%;
  background: transparent;
  border: none !important;
  position: absolute;
  top: 8%;
  z-index: 2;
}
#dragonPic {
  width: 95%;
}
.bigDragon:active {
  width: 35%;
  height: 35%;
  background: transparent;
  border: none !important;
  position: absolute;
  top: 8%;
  z-index: 2;
  filter: sepia(100%) hue-rotate(300deg) saturate(580%);
}

#damDis {
  position: relative;
  top: 8.5em;
  left: 4.2em;
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 10px #ff1a1a, 1px 1px 10px #ff0000;
  font-size: 3em;
}
#dpsDis {
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 10px #ff1a1a, 1px 1px 10px #ff0000;
  top: 13em;
  left: 8em;
  font-size: 1.5em;
  position: relative;
}
.rightcol {
  flex: 2;
}
