body {
  background-image: url("images/cavebg.jpg");
  background-size: cover;
  background-color: #332e2b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leftcol {
  flex: 1;
}

@keyframes throb {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
.gamelogo {
  animation: throb 5s ease 0s infinite normal forwards;
  z-index: 1;
  justify-self: center;
}

.bigDragon {
  width: 500px;
  height: 500px;
  background: transparent;
  border: none !important;
  position: absolute;
  top: 10%;
  z-index: 2;
}
#dragonPic {
  width: 100%;
}
.bigDragon:active {
  width: 500px;
  height: 500px;
  background: transparent;
  border: none !important;
  position: absolute;
  top: 10%;
  z-index: 2;
  filter: invert(75%);
}
#dragonPic {
  width: 100%;
}

h2 {
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 10px #ff1a1a, 1px 1px 10px #ff0000;
}

.rightcol {
  flex: 2;
}
